<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
	<title>{%block titulo%}Estadisticas{%endblock%}</title>
</head>
<body>
	<header class="navegacion">
		<div class="elementos">
			<ul class="herramientas">
				<li class="herramienta"><a href="/"><img class="icon-bar-home" src="{{url_for('static', filename="img/home.png")}}" alt="">inicio</a></li>
				<li class="herramienta"><a href="/pedidos"><img class="icon-bar-home" src="{{url_for('static', filename="img/empleados.png")}}" alt=""> pedidos</a></li>
				<li class="herramienta"><a href="/signup"><img class="icon-bar-pen" src="{{url_for('static', filename="img/registrar.png")}}" alt=""> registrar</a></li>
				<li class="herramienta"><a href="/estadisticas"><img class="icon-bar" src="{{url_for('static', filename="img/grafico.png")}}" alt=""> administrar</a></li>
				<li class="herramienta"><button type="submit" class="cerrar"><a href="/cerrar_sesion">cerrar sesion</a></button></li>
			</ul>
		</div>
	</header>
	{%with messages = get_flashed_messages()%}
        {%if messages%}
                {% for message in messages%}
                    <div id="mensaje">
                        <p>{{message}}</p>
                        <input type="checkbox" name="" id="cerrar">
                        <label for="cerrar">x</label>
                    </div>
                {%endfor%}
        {%endif%}
    {%endwith%}
	{%block body%}
		<div class="estadisticas">
			<div class="empleados">
				<h2 class="info-venta-credi">trabajadores</h2>
				<hr>
				{%for i in trabajadores:%}
					{%if i.cargo != 'Administrador':%}
						<form action="/reiniciar_borrar" method="POST">
							<p class="vendido"><b>Trabajador:</b> <input name="trabajador" type="text" class="total" value="{{i.nombre}}"></p>
							<p class="vendido"><b>Vendido: </b>{{'${:,.3f}'.format(i.ventas)}}</p>
							<button name="eliminar" class="eliminar">Eliminar</button>
							<button name="reiniciar" class="eliminar">reiniciar</button>
						</form>
						<hr class="separador">
						<br>
					{%endif%}
				{%endfor%}
			</div>
			<div class="informe">
				<div class="informe_c">
					<h2 class="info-venta">informe</h2>
					<p class="info-venta-p">MES ACTUAL: ${{'{:,.3f}'.format(informe)}}
						<br>
						<br>
						Venta Hoy: ${{'{:,.3f}'.format(venta_hoy)}}
						<br>
						<br>
						Gastos Hoy: ${{'{:,.3f}'.format(gasto)}}
						<br><br>
						Ganancia Neta: ${{'{:,.3f}'.format(venta_hoy - gasto)}}
						<br><br>
						<form action="/consulta" method="GET">
							<button class="historial">VER HISTORIAL</button>
						</form>
					</p>
					<br>
				</div>
				<br>
				
				<div class="informe_f">
					<h2 class="info-venta">productos más vendido</h2>
					<p class="info-venta-p">{{producto_mas.nombre}}</p>
					<br>
				</div>
				<br>
				<div class="informe_g">
					<h2 class="info-venta">producto menos vendido</h2>
					<p class="info-venta-p">{{producto_menos.nombre}}</p>
					<br>
				</div>
				<br>
				<div class="informe_h">
					<h2 class="info-venta">Productos restantes</h2>
					{%for i in inventario_final%}
						<p class="info-venta-p">quedan {{i.cantidad}} {{i.nombre}}</p>
						<br>
					{%endfor%}
					<br>
				</div>
				<br>
			</div>
		</div>
	{%endblock%}
	<script>
		var notifi = document.getElementById('mensaje');
        notifi.style.top = "20px";
        notifi.style.position = "fixed";
        notifi.style.transition = "all ease 1s";
        var input = document.getElementById('cerrar');
        input.addEventListener("change", cerrarnota, false);

        function cerrarnota()
        {
            var estado = input.checked;
            if(estado)
            {
                notifi.style.top = "-170px";
            }
        }

		var n = 0;
		setInterval(function contar(){
			console.log(n);
			if(n > 2){
				input.click();
			}
			else
			{
				n++;
			}
		},2000);
	</script>
</body>
</html>