<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
	<link rel="stylesheet" href="{{url_for('static', filename="css/tarjetas.css")}}">
	<title>{%block titulo%}{%endblock%}</title>
</head>
<body>
    <header class="navegacion">
		<div class="elementos">
			<ul class="herramientas">
				<li class="herramienta"><a href="/"><img class="icon-bar-home" src="{{url_for('static', filename="img/home.png")}}" alt="">inicio</a></li>
				<li class="herramienta"><a href="/pedidos"><img class="icon-bar-home" src="{{url_for('static', filename="img/empleados.png")}}" alt=""> pedidos</a></li>
				{%if usuariodata.cargo == 'Administrador'%}
					<li class="herramienta"><a href="/signup"><img class="icon-bar-pen" src="{{url_for('static', filename="img/registrar.png")}}" alt=""> registrar</a></li>
					<li class="herramienta"><a href="/estadisticas"><img class="icon-bar" src="{{url_for('static', filename="img/grafico.png")}}" alt=""> administrar</a></li>
				{%endif%}
				<li class="herramienta"><button type="submit" class="cerrar"><a href="/cerrar_sesion">cerrar sesion</a></button></li>
			</ul>
		</div>
	</header>
	{%with messages = get_flashed_messages()%}
        {%if messages%}
                {% for message in messages%}
                    <div id="mensaje">
                        <p>{{message}}</p>
                        <input type="checkbox" name="" id="cerrar">
                        <label for="cerrar">x</label>
                    </div>
                {%endfor%}
        {%endif%}
    {%endwith%}
	{%block body%}
	{%endblock%}
	<script>
		var notifi = document.getElementById('mensaje');
        notifi.style.top = "20px";
        notifi.style.position = "fixed";
        notifi.style.transition = "all ease 1s";
        var input = document.getElementById('cerrar');
        input.addEventListener("change", cerrarnota, false);

        function cerrarnota()
        {
            var estado = input.checked;
            if(estado)
            {
                notifi.style.top = "-170px";
            }
        }

		var n = 0;
		setInterval(function contar(){
			console.log(n);
			if(n > 2){
				input.click();
			}
			else
			{
				n++;
			}
		},2000);
	</script>
</body>
</html>